
<br/>

<div class="jumbotron">
    <h2>Professional Development Program</h2>
    <p class="lead" align="justify">
        Hi, welcome to your Personal Development Programme (PDP) digital workbook. Please follow the instructions of your PDP tutor to complete the activities in this application. Once an activity is submitted you will not be able to change your answers or redo the task; so please wait for the explanation of your tutor prior to attempt an activity.  The most important thing to remember is that this workbook should be considered a personal journal, there are no right or wrong answers and it is very important that you complete the activities being completely honest to yourself. The accuracy of the tests and activities that you are about to do depends on the honesty of your answers, hence the value of the results to your own personal development is at stake.
        The Personal Development Programme has no grade or marking standards. We just need to know that you are working in yourself in a responsible and consistent manner, so relax, have fun, and make the most of it. This programme is for you!
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>News</h4>
        <p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="col-md-6">
        <h4>Announcements</h4>
        <p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

   
</div>
