<div class="jumbotron">
    <h2>Professional Development Program</h2>
    @*<p class="lead">Introductory Qualification Module</p>*@
    <p><a href="https://www.aspire2international.ac.nz/" class="btn btn-primary btn-lg" target="_new">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Info!</strong> Your account is currently unassigned to any PDP Group. Kindly inform your Tutor for your group assignment. Thank you.
        </div>
    </div>
</div>
