<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3" style="align-content:center">
            <p>
                <img src="~/Content/img/team.jpg" />
            </p>
        </div>
    </div>
</div>
