

<br/>
<div class="container">
    <h4>Contact</h4>
    <div class="col-md-4">
        <address>
            20 Hobson St,<br />
            Auckland, New Zealand<br />
            <abbr title="Phone">P:</abbr>
            +64 9 5555 400 (Mon-Sat)
            Fax: +64 9 377 8252
        </address>

        <address>
            <strong>Enrollment Enquiries:</strong>   <a href="mailto:study@aspire2international.ac.nz">Support@example.com</a><br />
        </address>
    </div>
    <div class="col-md-8">
        <p>
            <img src="~/Content/img/contact_us_bg.png" />
        </p>
    </div>
</div>


