@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Professional Development Program</h2>
    <p class="lead">Introductory Qualification Module</p>
    <p><a href="https://www.aspire2international.ac.nz/" class="btn btn-primary btn-lg" target="_new">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-12">
        <h4>Acknowledgement 2017</h4>
        <p><i>Aspire2 International Professional Development Programme (PDP) would like to acknowledge the previous contribution to the development of thie IQM Workbook made by Wayne Loh and Beatrice Soon. Also the great revision work done by the 2015 Auckland PSD Team.</i></p>
        
    </div>
</div>