.container1{
	width:80%;
	margin-left: auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
	min-width:1000px;
}

#p1welcomeAspire{
	font-size:4em;
	color:#33cc33;
	font-weight:bold;
	
}

#p1handPlant{
	width:40%;
}

ul.p2objList{
	/*list-style-image: url('img/check1.png'); not working*/
	list-style-type:none;
	text-align:left;
	font-size:2em;

}


h1.heading{
	font-size:4em;
	text-align:center;
}

#p2dartimg {
	text-align: right;
}

#p3quote{
	font-size:6em;
}
#p3author{
	font-size:3em;
}
#p3pasteurimg img {
	width: 20%;
}
#p3pasteurimg {
	text-align: right;
}


#p4preMind{
	font-size:4em;
	color:#8080ff;
}
#p4preMind2{
	font-size:4em;
	color:#0000e6;
}
#p4preMind3{
	font-size:4em;
	color:#000066;
}
#p4worldAskimg {
	text-align:right;
}
#p4worldAskimg img {
	width: 20%;
}

.p5words{
	font-size:3em;
	text-align:left;
}
ul.p5words{
	list-style-type:square;
}

.p6List{
	list-style-type:square;
	text-align:left;
	font-size:2em;
	margin-bottom:-20px;
}
#p6checklistimg {
	text-align: right;
}

.p7List{
	font-size:2em;
	text-align:left;
}

.p8List{
	font-size:3em;
	text-align:left;
}

.p9List{
	font-size:2em;
	text-align:left;
	list-style-type:square;
}
#p9img{
	display:inline-block;
}

#p9img img{
	height:280px;
}

.p10_11List{
	font-size:20px;
	text-align:left;
}

td.p10_11Mod{
	width:150px;

}

tr.p10_11TabRow{
	height:60px;
}

#p10_11topicimg{
	text-align:right;
	
}

#p10_11topicimg img{
	width:20%;
}



.p12List{
	list-style-type:square;
	text-align:left;
	font-size:2em;
}

#p12img {
	padding: 10px;
}

#p12img img{
	height: 300px;
	margin-left: 100px;
}

.p13, .p13List{
	list-style-type:square;
	text-align:left;
	font-size:3em;
}

.p14List{
	text-align:left;
	font-size:2em;
}


#p14coatOfArm{
	height:800px;
}

.p15AboutMeContainer {
	position: relative;
	text-align: center;
}
#p15aboutMeImg {
	width:80%;
	height:80%;
}
.p15txtbox{
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	max-width: 900px;
}
#p15Name {
	position: absolute;
	top: 165px;
	left: 388px;
	width: 280px;
}
#p15Place {
	left: 627px;
	position: absolute;
	top: 277px;
	width: 118px;
}
#p15Hobby {
	height: 115px;
	left: 208px;
	position: absolute;
	top: 345px;
	width: 197px;
}
#p15Movie {
	left: 504px;
	position: absolute;
	top: 472px;
	width: 194px;
}
#p15Important {
	left: 298px;
	position: absolute;
	top: 609px;
	width: 388px;
}
#p15Model {
	left: 205px;
	position: absolute;
	top: 747px;
	width: 195px;
}
#p15Happy {
	left: 470px;
	position: absolute;
	top: 815px;
	width: 288px;
}
#p15Dislike {
	left: 200px;
	position: absolute;
	top: 940px;
	width: 194px;
}
#p15Famous {
	left: 530px;
	position: absolute;
	top: 984px;
	width: 225px;
}
.p16List {
	list-style-type: square;
	text-align: left;
	font-size: 3em;
}

.p17-19List {
	font-size: 3em;
}

.p20-22List {
	font-size: 3em;
	list-style-type:none;
}

#p20-22img{
	text-align:right;
}

#p22Cheating{
	color:darkred;
	font-size:3em;
	text-indent:40px;
}

#p23instruction{
	margin-top:10px;
	font-size:20px;
} 
#p23VARKTable {
	border-collapse: collapse;
}
#p23VARKTable,td,th {
	border: 1px solid black;
	padding:5px;
}


#p25img1 img{
	width:30%;
}
#p25groupMission {
	font-size: 2em;
}
#p25instruction {
	text-align: left;
	font-size: 2em;
}

#p26-27 {
	text-align: left;
	font-size: 1.5em;
}
#p26DOPETable {
	text-align: left;
	margin: auto;
}

#p27DISCTable{
	font-size: 1.2em;
	margin:auto;
}

#p28kiwianaTable {
	font-size: 1.5em;
	margin: auto;
}
.p28textarea, .p30textarea, .p35textarea, .p15txtarea {
	resize: none;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 2px;
	max-width: 900px;
}

.p29txtbox {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	width: 50px;
	max-width: 900px;
}

.p30txtbox, .p38txtbox {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	width: 850px;
	max-width: 900px;
}
.p30txtbox1 {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	width: 900px;
	max-width: 900px;
}

#p31List{
	text-align:left;
	font-size: 2em;
}
#p31img{
	text-align:right;
}
#p31img img{
	width:20%;
	margin-top:-250px;
}
.p31txtarea, .p38txtarea, .p39txtarea, .p41txtarea, .p47txtarea, .p50-53txtarea {
	resize: none;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	max-width: 900px;
}
#p31_14HabitTable{
	margin:auto;
}

.p32txtbox, .p36txtbox {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	width: 900px;
	max-width: 900px;
}

#p33Table table {
	margin: auto;
}
#p33values{
	text-align:left;
}

#p35LeadershipPlanTable{
	margin:auto;
	text-align:left;
}

.p39txtbox {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	width: 250px;
	max-width: 900px;
}

.p47List li{
	list-style-type:none;
}

.p47List li:before {
	content:"-";
	margin-left:-20px;
	margin-right:10px;
}

#p48MaturityContainer {
	position: relative;
	text-align: center;
	font-weight: bold;
}
#p48MaturityImg {
	width:100%;
	height:100%;
}

.p48txtbox, .p54txtbox, .TutorNametxtbox {
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	max-width: 900px;
}
.p48Int {
	position: absolute;
	top: 50px;
	left: 400px;

}
.p48Habit5 {
	position: absolute;
	top: 90px;
	left: 295px;
	color: white;
}
.p48Habit6 {
	position: absolute;
	top: 90px;
	left: 545px;
	color: white;
}
.p48P1 {
	position: absolute;
	top: 188px;
	left: 415px;
}
.p48Habit4 {
	position: absolute;
	top: 250px;
	left: 420px;
	color: white;
}
.p48In {
	position: absolute;
	top: 380px;
	left: 410px;
}
.p48Habit3 {
	position: absolute;
	top: 480px;
	left: 420px;
	color: white;
}
.p48P2 {
	position: absolute;
	top: 560px;
	left: 415px;
}
.p48Habit1 {
	position: absolute;
	top: 640px;
	left: 295px;
	color: white;
}
.p48Habit2 {
	position: absolute;
	top: 640px;
	left: 545px;
	color: white;
}
.p48De {
	position: absolute;
	top: 715px;
	left: 410px;
}
.p48Habit7 {
	position: absolute;
	top: 685px;
	left: 870px;
}


#p54TableSlang td {
	border:none;
}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(1.2); /* IE */
	-moz-transform: scale(1.2); /* FF */
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	-o-transform: scale(1.2); /* Opera */
}


.TutorCommenttxtarea, .ProgramCommenttxtarea {
	resize: none;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	font-size: 1em;
	margin: 5px;
	max-width: 900px;
}

