@model IEnumerable<IQMStarterKit.Models.ExtendedUserCustom>
@using IQMStarterKit.Models
<br />
@{ var random = new Random();}

<style>
    .dataTables_wrapper .dataTables_length {
        float: left;
     
   }

    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: left;
    }
</style>
 


<table id="user" style="width:100%" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Email</th>
            <th>Group</th>
            <th>PDP Progress</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            int randomNumber = random.Next(0, 100);
            if (item.GroupId > 0)
            {
                IEnumerable<GroupModel> grouplist = ViewBag.Groups;
                var groupname = grouplist.FirstOrDefault(m => m.GroupId == item.GroupId);


                <tr>
                    <td>@Html.DisplayFor(m => item.FullName)</td>
                    <td>@Html.ActionLink(item.Email, "ViewStudentActivities", "Module", new { @email = item.Email }, null)</td>
                    <td><text>@groupname.GroupName</text></td>
                    <td>
                        <span class="progress-bar" role="progressbar" aria-valuenow="@randomNumber" aria-valuemin="0" aria-valuemax="100" style="width: @randomNumber%">@randomNumber%</span>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

@section scripts{
    <script>

        $(document).ready(function () {
            $('#user').DataTable({
                "bLengthChange": false,
                "bFilter": true
            });
        });



    </script>
}