
@using (Html.BeginForm())
{

    <div class="main_container">
        <div style="text-align: center;">
            <h1 id="p1welcomeAspire">Welcome to the Personal Development Programme (PDP)</h1>
            <img id="p1handPlant" src="~/Content/img/hands-with-plant.jpg" alt="Holding a Plant Graphic">
            <h2>Effective Soft Skills</h2>
            <hr />
            <br/>
            <div>
              
                @Html.ActionLink("Main", "Index") |
                @Html.ActionLink("Next Page", "PageA01_01") 

            </div>
        </div>
   
</div>
}
