
@{
    ViewBag.Title = "Page35";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading"><u>Personal Leadership Plan</u></h1>
        <form id="p35LeadershipPlan">
            <table id="p35LeadershipPlanTable">
                <tr>
                    <th style="text-align:center;">Area</th>
                    <th style="text-align:center;">(SMART)Goals</th>
                    <th style="text-align:center;">Action Plan</th>
                </tr>
                <tr>
                    <td>Learning more about self</td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Acquiring knowledge and wisdom</td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Practicing new skills</td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Developing personal potential</td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                    <td>
                        <textarea class="p35textarea" rows="4" cols="70" maxlength="70" name="answer" form="p35LeadershipPlan"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page34") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page36")
    </div>

}