
@{
    ViewBag.Title = "Class Contract";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div style="text-align:center;">
            <h1 class="heading">Tutor-Student Contract</h1>

            <div id="p16img">
                <img src="~/Content/img/contract.png" alt="Contract graphic">
            </div>

            <ul class="p16List">
                <li>What students expect from tutors</li>
                <li>What tutors can expect from students</li>
            </ul>

        </div>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page15") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page17")
        </div>

    </div>
}