
@{
    ViewBag.Title = "Page38";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div>
            <h1 class="heading"><strong><u>Habit #3 : Put First Things First</u></strong></h1>
            <h2 style="text-align:center;">Self-Management</h2>
            <p> Below, list all the things or activies you have to do in the next 7 days.</p>
            <textarea class="p38txtarea" rows="15" cols="150" name="activities"></textarea>
        </div>
        <hr />
        <div>
            <img style="width:100%;" src="~/Content/img/timechart.png" alt="Time Table Chart" />
        </div>
        <hr />
        <div>
            <h1 class="heading"><strong>The Important / Urgent Matrix</strong></h1>
            <table style="margin:auto;">
                <tr>
                    <td></td>
                    <td style="text-align:center;">Urgent</td>
                    <td style="text-align:center;">Not Urgent</td>
                </tr>
                <tr>
                    <td style="transform: rotate(270deg);">Important</td>
                    <td style="text-align:center;">
                        I<br />
                        <textarea class="p38txtarea" rows="5" cols="50" maxlength="70" name="answer"></textarea>
                    </td>
                    <td style="text-align:center;">
                        II<br />
                        <textarea class="p38txtarea" rows="5" cols="50" maxlength="70" name="answer"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="transform: rotate(270deg);"> Not Important</td>
                    <td style="text-align:center;">
                        III<br />
                        <textarea class="p38txtarea" rows="5" cols="50" maxlength="70" name="answer"></textarea>
                    </td>
                    <td style="text-align:center;">
                        IV<br />
                        <textarea class="p38txtarea" rows="5" cols="50" maxlength="70" name="answer"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div>
            <h1 class="heading"><strong><u>Large Task:</u></strong></h1>
            <textarea class="p38txtarea" rows="5" cols="150" name="answer"></textarea>
            <p><strong>Break this down into smaller more manageable tasks:</strong></p>
            <ol>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
                <li><input class="p38txtbox" type="text" name="p38LargeTask"></li>
            </ol>
        </div>

    </div>


    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page37") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page39")
    </div>
}

