
@{
    ViewBag.Title = "Page41";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 id="heading"><strong><u>Presentation Evaluation Sheet</u></strong></h1>
    <p style="text-align:left;">
        Name of Student:
        <input class="p41txtbox" type="text" name="studentname">
    </p>
    <p style="text-align:left;">
        Topic:
        <input class="p41txtbox" type="text" name="topic">
    </p>
    <table>
        <tr>
            <td> </td>
            <td>Item</td>
            <td>Observation/Comments</td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">1</td>
            <td><strong>Personal Presentation and Grooming</strong></td>
            <td><textarea class="p41txtarea" rows="3" cols="95" name="grooming"></textarea></td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">2</td>
            <td><strong>Content</strong><br/>
            Introduction<br/>
                <ul><li>Impact</li></ul>
            Body<br/>
                <ul>
                    <li>Organisation/Logical Sequence</li>
                    <li>ImpactRelevance</li>
                </ul>
            Conclusion<br/>
                <ul><li>Sudden/Abrupt</li></ul>
            </td>
            <td><textarea class="p41txtarea" rows="8" cols="95" name="content"></textarea></td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">3</td>
            <td><strong>Delivery</strong><br/>
                <ul>
                    <li>Voice</li>
                    <li>Eye Contact</li>
                    <li>Facial Expression</li>
                    <li>Gestures and Movements</li>
                    <li>Posture</li>
                    <li>Audience Involvement/Interaction</li>
                </ul>
            </td>
            <td><textarea class="p41txtarea" rows="5" cols="95" name="delivery"></textarea></td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">4</td>
            <td><strong>Visual Aids</strong><br />
            Power-point or other visual aid used</td>
            <td><textarea class="p41txtarea" rows="3" cols="95" name="visual"></textarea></td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">5</td>
            <td><strong>Knowledge of subject</strong></td>
            <td><textarea class="p41txtarea" rows="3" cols="95" name="knowledge"></textarea></td>
        </tr>
        <tr style="text-align:left;">
            <td style="padding:15px;">6</td>
            <td><strong>Timing - Over or Under Time?</strong></td>
            <td><textarea class="p41txtarea" rows="3" cols="95" name="time"></textarea></td>
        </tr>
    </table>
    <br/>
    <p style="text-align:left;">Overall Comments:<br/>
        <textarea class="p41txtarea" rows="3" cols="195" name="time"></textarea>
    </p>
    <p style="text-align:left;">Completed by:<input class="p41txtbox" type="text" name="studentname"></p>

    @Html.ActionLink("Previous Page", "Page40") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page42")
</div>

}
