
@{
    ViewBag.Title = "Page30";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading"><u>Who Moved My Cheese?</u></h1>
        <h2 style="text-align:center;"> By Dr. Spencer Johnson</h2>
            <ol>
                <li>
                    <p>List and describe the four characters in the story:</p>
                    <textarea class="p30textarea" rows="5" cols="60" maxlength="200" name="answer"></textarea>
                </li>
                <li>
                    The four characters who live in a "Maze" and look for "Cheese" to nourish them and make them happy
                    <ol>
                        <li style="list-style-type:lower-alpha;">
                            <p>What does the "Cheese" represent?</p>
                            <input class="p30txtbox" type="text" name="p30ans2a">
                        </li>
                        <li style="list-style-type:lower-alpha;">
                            <p>What does the "Maze" represent?</p>
                            <input class="p30txtbox" type="text" name="p30ans2b">
                        </li>
                    </ol>
                </li>
                <li>
                    <p>One day, the four characters discovered that the cheese at Station C disappeared. How did each of them
                    </p>
                    <textarea class="p30textarea" rows="5" cols="150" name="answer"></textarea>
                </li>

                <br />
                <content><strong><u>My Cheese</u></strong></content>
                <br />
                <br />
                <li>
                    What is your "Cheese"? <br />
                    <input class="p30txtbox1" type="text" name="p30ans2a">
                </li>
                <li>
                    Did you have an old "Cheese"? If yes, what was it?<br />
                    <input class="p30txtbox1" type="text" name="p30ans2a">
                </li>
                <li>
                    <p>
                        Was your old "Cheese" moved? How did you react? Which of the characters can you best relate to? Why?
                    </p>
                    <textarea class="p30textarea" rows="5" cols="150" name="answer"></textarea>
                </li>

            </ol>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page29") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page31")
        </div>
    </div>

}

