
@{
    ViewBag.Title = "Page29";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 id="heading"><u>DISC Personality Profiling</u></h1>

    <p id="p28-29">
        For each row, select the personality trait that describes you best.  For each column, count the number of circles in the column and put the total score at the bottom of the column.
    </p>

    <table id="p29DISCTable">
        <tr>
            <td>1</td>
            <td><input type="radio" name="DISC1" value="D" style="margin-right:5px;">Strong-Willed</td>
            <td><input type="radio" name="DISC1" value="I" style="margin-right:5px;">Persuasive</td>
            <td><input type="radio" name="DISC1" value="S" style="margin-right:5px;">Kind</td>
            <td><input type="radio" name="DISC1" value="C" style="margin-right:5px;">Humble</td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="radio" name="DISC2" value="D" style="margin-right:5px;">Independent</td>
            <td><input type="radio" name="DISC2" value="I" style="margin-right:5px;">Sociable</td>
            <td><input type="radio" name="DISC2" value="S" style="margin-right:5px;">Pleasant</td>
            <td><input type="radio" name="DISC2" value="C" style="margin-right:5px;">Cooperative</td>
        </tr>
        <tr>
            <td>3</td>
            <td><input type="radio" name="DISC3" value="D" style="margin-right:5px;">Bold</td>
            <td><input type="radio" name="DISC3" value="I" style="margin-right:5px;">Lively</td>
            <td><input type="radio" name="DISC3" value="S" style="margin-right:5px;">Loyal</td>
            <td><input type="radio" name="DISC3" value="C" style="margin-right:5px;">Passive</td>
        </tr>
        <tr>
            <td>4</td>
            <td><input type="radio" name="DISC4" value="D" style="margin-right:5px;">Competitive</td>
            <td><input type="radio" name="DISC4" value="I" style="margin-right:5px;">Cheerful</td>
            <td><input type="radio" name="DISC4" value="S" style="margin-right:5px;">Obliging</td>
            <td><input type="radio" name="DISC4" value="C" style="margin-right:5px;">Open-Minded</td>
        </tr>
        <tr>
            <td>5</td>
            <td><input type="radio" name="DISC5" value="D" style="margin-right:5px;">Daring</td>
            <td><input type="radio" name="DISC5" value="I" style="margin-right:5px;">Humorous</td>
            <td><input type="radio" name="DISC5" value="S" style="margin-right:5px;">Calm</td>
            <td><input type="radio" name="DISC5" value="C" style="margin-right:5px;">Precise</td>
        </tr>
        <tr>
            <td>6</td>
            <td><input type="radio" name="DISC6" value="D" style="margin-right:5px;">Pioneering</td>
            <td><input type="radio" name="DISC6" value="I" style="margin-right:5px;">Trusting</td>
            <td><input type="radio" name="DISC6" value="S" style="margin-right:5px;">Lenient</td>
            <td><input type="radio" name="DISC6" value="C" style="margin-right:5px;">Tolerant</td>

        </tr>
        <tr>
            <td>7</td>
            <td><input type="radio" name="DISC7" value="D" style="margin-right:5px;">Persistent</td>
            <td><input type="radio" name="DISC7" value="I" style="margin-right:5px;">Entertaining</td>
            <td><input type="radio" name="DISC7" value="S" style="margin-right:5px;">Obedient</td>
            <td><input type="radio" name="DISC7" value="C" style="margin-right:5px;">Neat</td>

        </tr>
        <tr>
            <td>8</td>
            <td><input type="radio" name="DISC8" value="D" style="margin-right:5px;">Energetic</td>
            <td><input type="radio" name="DISC8" value="I" style="margin-right:5px;">Sociable</td>
            <td><input type="radio" name="DISC8" value="S" style="margin-right:5px;">Lenient</td>
            <td><input type="radio" name="DISC8" value="C" style="margin-right:5px;">Peaceful</td>
        </tr>
        <tr>
            <td>9</td>
            <td><input type="radio" name="DISC9" value="D" style="margin-right:5px;">Risk Taker</td>
            <td><input type="radio" name="DISC9" value="I" style="margin-right:5px;">Good-Mixer</td>
            <td><input type="radio" name="DISC9" value="S" style="margin-right:5px;">Patient</td>
            <td><input type="radio" name="DISC9" value="C" style="margin-right:5px;">Precise</td>
        </tr>
        <tr>
            <td>10</td>
            <td><input type="radio" name="DISC10" value="D" style="margin-right:5px;">Determined</td>
            <td><input type="radio" name="DISC10" value="I" style="margin-right:5px;">Energetic</td>
            <td><input type="radio" name="DISC10" value="S" style="margin-right:5px;">Self-Controlled</td>
            <td><input type="radio" name="DISC10" value="C" style="margin-right:5px;">Systematic</td>
        </tr>
        <tr>
            <td>11</td>
            <td><input type="radio" name="DISC11" value="D" style="margin-right:5px;">Aggressive</td>
            <td><input type="radio" name="DISC11" value="I" style="margin-right:5px;">Charismatic</td>
            <td><input type="radio" name="DISC11" value="S" style="margin-right:5px;">Good-Natured</td>
            <td><input type="radio" name="DISC11" value="C" style="margin-right:5px;">Careful</td>
        </tr>
        <tr>
            <td>12</td>
            <td><input type="radio" name="DISC12" value="D" style="margin-right:5px;">Restless</td>
            <td><input type="radio" name="DISC12" value="I" style="margin-right:5px;"></td>
            <td><input type="radio" name="DISC12" value="S" style="margin-right:5px;">Controlled</td>
            <td><input type="radio" name="DISC12" value="C" style="margin-right:5px;">Conventional</td>
        </tr>
        <tr>
            <td>13</td>
            <td><input type="radio" name="DISC13" value="D" style="margin-right:5px;">Decisive</td>
            <td><input type="radio" name="DISC13" value="I" style="margin-right:5px;">Popular</td>
            <td><input type="radio" name="DISC13" value="S" style="margin-right:5px;">Neighbourly</td>
            <td><input type="radio" name="DISC13" value="C" style="margin-right:5px;">Organized</td>
        </tr>
        <tr>
            <td>14</td>
            <td><input type="radio" name="DISC14" value="D" style="margin-right:5px;">Adventurous</td>
            <td><input type="radio" name="DISC14" value="I" style="margin-right:5px;">Friendly</td>
            <td><input type="radio" name="DISC14" value="S" style="margin-right:5px;">Moderate</td>
            <td><input type="radio" name="DISC14" value="C" style="margin-right:5px;">Receptive</td>
        </tr>
        <tr>
            <td>15</td>
            <td><input type="radio" name="DISC15" value="D" style="margin-right:5px;">Brave</td>
            <td><input type="radio" name="DISC15" value="I" style="margin-right:5px;">Inspiring</td>
            <td><input type="radio" name="DISC15" value="S" style="margin-right:5px;">Submissive</td>
            <td><input type="radio" name="DISC15" value="C" style="margin-right:5px;">Shy</td>
        </tr>
</table>

    @Html.ActionLink("Previous Page", "Page28") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page30")
</div>
}