
@{
    ViewBag.Title = "Page53";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1><u>Refelction Journal</u></h1>
    <h2><strong>Closed Fist</strong></h2>
    <form style="text-align:left;">

        <table border=1>

            <tr>
                <td>
                    1. Describe what happened during the activity. (Summarise the events what happened).
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    2. Describe your personal reaction.
                    <ul>
                        <li> What did you like or enjoy most? Why?</li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>What did you dislike most? Why?</li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>
                            What did you find challenging or difficult? Were there moments when you felt
                            frustrated? Why?
                        </li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    3. New Learning
                    <ul>
                        <li>What did you learn that was new to you?</li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li> How do you think this might be useful?</li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>
                            How will this experience change the way you think or act in the event of situation

                            that involves a change in the future?
                        </li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    4. Action to be taken
                    <ul>
                        <li>Is there any specific action that you will take as a result of this learning experience?</li>
                    </ul>
                    <textarea class="p52-55txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

        </table>


    </form>

    @Html.ActionLink("Previous Page", "Page52") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page54")
</div>
}