
@{
    ViewBag.Title = "Page46";
}
@using (Html.BeginForm())
{
<div class="container1">
    <img src="~/Content/img/Brainstorming.jpg" alt="Activity Brainstorming" />
    @Html.ActionLink("Previous Page", "Page45") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page47")
</div>
}

