
@{
    ViewBag.Title = "Page24";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div style="text-align:center;">
            <img src="~/Content/img/Human Bingo Activity.png" alt="Human Bingo Activity Chart">
        </div>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page23") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page25")
        </div>
    </div>
}


