
@{
    ViewBag.Title = "Page26";
}
@using (Html.BeginForm())
{
<div class="container1">
    <img id="p26humanBingo" src="~/Content/img/Human Bingo Activity.png"  alt="Human Bingo Activity Chart">
    @Html.ActionLink("Previous Page", "Page25") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page27")
</div>
}
