
@{
    ViewBag.Title = "Page40";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div id="p40LostAtSeaContainer">
            <img src="~/Content/img/LostAtSea.png" alt="Lost at Sea Activity" />


            <input id="p40OwnSextant" class="p40txtbox" type="text" name="OSextant" />
            <input id="p40GrpSextant" class="p40txtbox" type="text" name="GSextant" />

            <input id="p40OwnMirror" class="p40txtbox" type="text" name="OMirror" />
            <input id="p40GrpMirror" class="p40txtbox" type="text" name="GMirror" />

            <input id="p40OwnNet" class="p40txtbox" type="text" name="ONet" />
            <input id="p40GrpNet" class="p40txtbox" type="text" name="GNet" />

            <input id="p40OwnWater" class="p40txtbox" type="text" name="OWater" />
            <input id="p40GrpWater" class="p40txtbox" type="text" name="GWwater" />

            <input id="p40OwnRations" class="p40txtbox" type="text" name="ORations" />
            <input id="p40GrpRations" class="p40txtbox" type="text" name="GRations" />

            <input id="p40OwnMap" class="p40txtbox" type="text" name="OMap" />
            <input id="p40GrpMap" class="p40txtbox" type="text" name="GMap" />

            <input id="p40OwnCushion" class="p40txtbox" type="text" name="OCushion" />
            <input id="p40GrpCushion" class="p40txtbox" type="text" name="GCushion" />

            <input id="p40OwnOil" class="p40txtbox" type="text" name="OOil" />
            <input id="p40GrpOil" class="p40txtbox" type="text" name="GOil" />

            <input id="p40OwnRadio" class="p40txtbox" type="text" name="ORadio" />
            <input id="p40GrpRadio" class="p40txtbox" type="text" name="GRadio" />

            <input id="p40OwnSheet" class="p40txtbox" type="text" name="OSheet" />
            <input id="p40GrpSheet" class="p40txtbox" type="text" name="GSheet" />

            <input id="p40OwnRepellent" class="p40txtbox" type="text" name="ORepellent" />
            <input id="p40GrpRepellent" class="p40txtbox" type="text" name="GRepellent" />

            <input id="p40OwnRum" class="p40txtbox" type="text" name="ORum" />
            <input id="p40GrpRum" class="p40txtbox" type="text" name="GRum" />

            <input id="p40OwnRope" class="p40txtbox" type="text" name="ORope" />
            <input id="p40GrpRope" class="p40txtbox" type="text" name="GRope" />

            <input id="p40OwnChocolate" class="p40txtbox" type="text" name="OChocolate" />
            <input id="p40GrpChocolate" class="p40txtbox" type="text" name="GChocolate" />

            <input id="p40OwnFishKit" class="p40txtbox" type="text" name="OFishKit" />
            <input id="p40GrpFishKit" class="p40txtbox" type="text" name="GFishKit" />

        </div> 
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page37") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page55")
    </div>
}