
@{
    ViewBag.Title = "Page18";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 class="heading">Tutor-Student Contract</h1>

    <div id="p18img">
        <img src="~/Content/img/contract.png" alt="Contract graphic">
    </div>

    <ul class="p18List">
        <li>What students expect from tutors</li>
        <li>What tutors can expect from students</li>
    </ul>

    @Html.ActionLink("Previous Page", "Page17") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page19")

</div>
}
