
@{
    ViewBag.Title = "Page20";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 class="heading">Classroom Rules</h1>
    <br />
    <p class="p19-21List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Punctuality</p>
    <ul class="p19-21List">
        <li>Is respect for your tutor and your classmates.</li>
        <li>Shows that you are well disciplined and take what you are doing seriously.</li>
    </ul>

    @Html.ActionLink("Previous Page", "Page19") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page21")

</div>
}

