
@{
    ViewBag.Title = "Page22";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 class="heading">Electronics Etiquette</h1>
    <br />
    <ul class="p22-24List">
        <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Do not use laptops unless instructed to do so by your tutors</li>
        <li><span class="glyphicon glyphicon-ok"></span> &nbsp; Switch all electronic devices to silent or off</li>
    </ul>
    <div id="p22-24img">
        <img src="~/Content/img/noPhoneLaptop.png" alt="No Phone and Laptop Allowed graphic">
    </div>
    @Html.ActionLink("Previous Page", "Page21") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page23")
</div>
}

