
@{
    ViewBag.Title = "Page45";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div style="text-align:center">
            <img src="~/Content/img/MindMap.jpg" alt="Activity Mind Map" />
        </div>
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page44") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page46")
    </div>
}