
@{
    ViewBag.Title = "Page1";
}

@using (Html.BeginForm())
{

    <div class="container1">
        <div style="text-align: center;">
            <h1 id="p1welcomeAspire">Welcome to Aspire2 ESS</h1>
            <img id="p1handPlant" src="~/Content/img/hands-with-plant.jpg" alt="Holding a Plant Graphic">
            <h2>Effective Soft Skills</h2>
            <h3>Your Professioinal Development Programme</h3>
            <br/>
            <div>
              
                @Html.ActionLink("Main", "Index") |
                @Html.ActionLink("Next Page", "Page2") 

            </div>
        </div>
   
</div>
}
