
@{
    ViewBag.Title = "Page5";
}
@using (Html.BeginForm())
{
<div class="container1">
    <p class="p5words"> You will be experiencing many new things: new country, new expectations...we will...</p>

    <ul class="p5words">
        <li> Identify some differences between NZ and your home country.</li>
        <li> Suggest how you can better prepare yourself to cope with these differences.</li>
    </ul>
    @Html.ActionLink("Previous Page", "Page4") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page6")
</div>
}
