
@using (Html.BeginForm())
{
<div class="main_container">
    <h1 class="heading">About the Programme</h1>

    <ul class="p12List">
        <li>The Main subject/topic of the Personal Development Programme is...

        <div id="p12img">
            <img src="~/Content/img/you1.png" alt="Pointing at You graphic">
        </div>
        </li>
        <li> So make the most of it, take an interest, participate in class and enjoy the learning journey!</li>
    </ul>

    
    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "PageA01_09") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "PageA01_11")
    </div>
</div>
}

