
@{
    ViewBag.Title = "Page50";
}


@using (Html.BeginForm())
{
    <div class="container1">

        <!-- Trigger the modal with a button -->
        <button type="button" id="info_popup" class="button btn-info" data-toggle="modal" data-target="#myModal"><span class='glyphicon glyphicon-info-sign' style="font-size:1.5em;"></span></button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Reflection Journaling:</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li> Reflection journaling means to write about what you have seen, felt and experienced </li>
                            <li> It requires you to think deeply/critically about your experiences. </li>
                            <li> It is a useful learning tool that encourages expression of emotions, understanding and conclusions as well as lessons learned or action plans to take. </li>
                        </ul>

                        <h4><u>Journaling Tips:</u></h4>
                        <ul>
                            <li>Write about what happened; give a summary of events that took place.</li>
                            <li>Write with honesty; write down exactly how you feel; candid self-expression. Do not try to ‘sugarcoat’ your feeling and reactions. </li>
                            <li>Write freely; do not worry about grammar rules, spelling, etc.…</li>
                            <li>Analyse your reactions.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <h1 class="heading"><u>Reflection Journal</u></h1>
        <h2 style="text-align:center;"><strong>Pass the Ball</strong></h2>

        <table style="margin:auto;">

            <tr>
                <td>
                    1. Describe what happened during the activity. (Summarise the events what happened).<br/>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    2. Describe your personal reaction.
                    <ul>
                        <li> What did you like or enjoy most? Why?</li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>What did you dislike most? Why?</li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>
                            What did you find challenging or difficult? Were there moments when you felt frustrated? Why?
                        </li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    3. New Learning
                    <ul>
                        <li>What did you learn that was new to you?</li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li> How do you think this might be useful?</li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>
                            How will this experience change the way you think or act in the event of situation that involves a change in the future?
                        </li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    4. Action to be taken
                    <ul>
                        <li>Is there any specific action that you will take as a result of this learning experience?</li>
                    </ul>
                    <textarea class="p50-53txtarea" cols="150" rows="10"></textarea>
                </td>
            </tr>

        </table>

    </div>
}
