
@{
    ViewBag.Title = "Classroom Rules";
}

@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading">Classroom Rules</h1>
        <br />
        <p class="p17-19List"><span class="glyphicon glyphicon-ok"></span> &nbsp; Speak English Only</p>
        <ul class="p17-19List">
            <li>Students from different parts of the world.</li>
            <li>Great opportunity to improve English.</li>
            <li>Good spoken English helps in job search.</li>
        </ul>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page16") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page18")
        </div>

    </div>
}


