@model IQMStarterKit.Models.Forms.SelfManagement

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div  class="main_container">
        <h1 class="heading"><strong><u>How Good Are You at Self-Managing</u></strong></h1>

            @if (Model.StudentActivity.ProgressValue == 100)
            {
                    int selfscore = Model.StudentActivity.SelfManagementScore;

                    <div class="col-md-offset-0 col-md-12">

                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Personal Management</strong></div>
                            @if (selfscore > 59 && selfscore < 81)
                            {
                                <div class="panel-body">Congratulations! You are excellent at managing yourself.</div>
                            }
                            else if (selfscore > 49 && selfscore < 60)
                            {
                                <div class="panel-body">You’re doing a good job, however there’s room for a little improvement to get you to excellence.</div>
                            }
                            else if (selfscore > 39 && selfscore < 50)
                            {
                                <div class="panel-body">You probably feel that you’re not doing as much as you could each day – you need to implement some self-management skills.</div>
                            }
                            else if (selfscore < 40)
                            {
                                <div class="panel-body">You need to implement many self-management tools to improve your efficiency.</div>
                            }
                        </div>
                      
                    </div>


            }
            else
            {

        <p style="text-align:center;">For each of the following statements, select which applies to you best that indicates how often you do each activity.</p>
        

        <table style="margin:auto;">
            <tr>
                <td>
                    &nbsp; I read selectively, skimming the material until I find what is important, then I highlight it.
                </td>
                <td>
                    <select id="self1" name="self1">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I make a list of tasks to accomplish each day / week.
                </td>
                <td>
                    <select  id="self2" name="self2">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I keep everything in its proper place at home and at work.
                </td>
                <td>
                    <select  id="self3" name="self3">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I organise the tasks I have to do according to their importance and urgency.
                </td>
                <td>
                    <select  id="self4" name="self4">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I concentrate on only one important task at a time, but I do multiple trivial tasks at once.
                </td>
                <td>
                    <select  id="self5" name="self5">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I make a list of short 5-10 minute tasks to do.
                </td>
                <td>
                    <select  id="self6" name="self6">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I divide large projects into smaller, separate stages.
                </td>
                <td>
                    <select  id="self7" name="self7">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I identify which 20% of my tasks will produce 80% of the results.
                </td>
                <td>
                    <select  id="self8" name="self8">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I do the most important tasks at my best time during the day.
                </td>
                <td>
                    <select  id="self9" name="self9">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I have some time during each day when I can work uninterrupted.
                </td>
                <td>
                    <select  id="self10" name="self10">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I don’t procrastinate.  I do today what needs to be done.
                </td>
                <td>
                    <select  id="self11" name="self11">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I keep track of the use of my time with devices such as a time log or a detailed diary (either paper or on my phone).
                </td>
                <td>
                    <select  id="self12" name="self12">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I set deadlines for myself.
                </td>
                <td>
                    <select  id="self13"  name="self13">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I do something productive whenever I am waiting.
                </td>
                <td>
                    <select  id="self14" name="self14">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I do routine work at one set time during the day.
                </td>
                <td>
                    <select  id="self15" name="self15">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I finish at least one thing every day.
                </td>
                <td>
                    <select  id="self16" name="self16">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            <tr>
                <td>
                    &nbsp; I schedule some time during the day for personal time alone – for planning, meditation, exercise, etc.).
                </td>
                <td>
                    <select  id="self17" name="self17">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I allow myself to worry about things only at one particular time during the day, not all the time.
                </td>
                <td>
                    <select  id="self18" name="self18">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I have clearly defined long-term goals that I am working towards.
                </td>
                <td>
                    <select  id="self19" name="self19">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp; I continually try to find little ways to use my time more efficiently.
                </td>
                <td>
                    <select  id="self20" name="self20">
                        <option value=""> </option>
                        <option value="0">Never</option>
                        <option value="1">Seldom</option>
                        <option value="2">Sometimes</option>
                        <option value="3">Usually</option>
                        <option value="4">Always</option>
                    </select>
                </td>
            </tr>
        </table>


        <div class="form-group;" style="text-align:center; margin-top:20px;">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
}
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "PageA19") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "PageA21")
    </div>
}

@section Scripts{

<script type="text/javascript">

        function Validate() {
            for (var i = 1; i < 21; i++) {
                var optionValue = "" + $("#self" + i).val();
                if (optionValue.toString() != "") {
                    //some have values
                    return true;
                }
            }
            //no selection
            return false;
        }

        //confirmation dialog
        $('form').submit(function (e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("Are you sure you want to submit your work?", function (result) {
                if (result) {

                    if (Validate()) {
                        currentForm.submit();
                        return true;
                    } else {
                        toastr.warning("Nothing to submit.");
                    }
                } 
            });
        });


</script>
}