
@{
    ViewBag.Title = "Page11";
}

@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading">Topics</h1>

        <table class="p10_11List">
            <tr class="p10_11TabRow">
                <td class="p10_11Mod"><ul>  <li>Module 6 </li></ul></td>

                <td> Seek First to Understand/ Communication Academic Me/ Report Writing/ Note Taking/ Referencing</td>
            </tr>
            <tr class="p10_11TabRow">
                <td> <ul> <li>Module 7 </li></ul></td>
                <td> Synergise/ Problem Solving/ Conflict</td>
            </tr>
            <tr class="p10_11TabRow">
                <td>  <ul><li>Module 8 </li></ul></td>
                <td> Sharpen the Saw/ Presentations/ 7 Habits Maturity Continuum Personal SWOT</td>
            </tr>
            <tr class="p10_11TabRow">
                <td> <ul> <li>Module 9 </li></ul></td>
                <td> Evaluations/ Fish Philosophy</td>
            </tr>
            <tr class="p10_11TabRow">
                <td><ul><li>Module Aspire2work </li></ul></td>
                <td> CVs/ Technology and Me</td>
            </tr>
        </table>

        <div id="p10_11topicimg">
            <img src="~/Content/img/topic.png" alt="Topic graphic">
        </div>

        @Html.ActionLink("Previous Page", "Page10") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page12")

    </div>
}
