
@{
    ViewBag.Title = "Page39";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 id="heading"><strong><u>How Good Are You at Self-Managing</u></strong></h1>
    <p style="text-align:left;">For each of the following statements, write the number (from 0-4) from the rating scale that indicates how often you do each activity.</p>
    <p>0= never &emsp; 1= seldom &emsp; 2= sometimes &emsp; 3= usually &emsp; 4= always</p>

    <table style="text-align:left; margin:auto;">
        <tr>
            <td>
               &nbsp; I read selectively, skimming the material until I find what is important, then I highlight it.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I make a list of tasks to accomplish each day / week.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I keep everything in its proper place at home and at work.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I organise the tasks I have to do according to their importance and urgency.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I concentrate on only one important task at a time, but I do multiple trivial tasks at once.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I make a list of short 5-10 minute tasks to do.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I divide large projects into smaller, separate stages.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I identify which 20% of my tasks will produce 80% of the results.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I do the most important tasks at my best time during the day.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I have some time during each day when I can work uninterrupted.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I don’t procrastinate.  I do today what needs to be done.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I keep track of the use of my time with devices such as a time log or a detailed diary (either paper or on my phone).
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I set deadlines for myself.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I do something productive whenever I am waiting.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I do routine work at one set time during the day.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I finish at least one thing every day.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        <tr>
            <td>
                &nbsp; I schedule some time during the day for personal time alone – for planning, meditation, exercise, etc.).
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I allow myself to worry about things only at one particular time during the day, not all the time.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I have clearly defined long-term goals that I am working towards.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
        <tr>
            <td>
                &nbsp; I continually try to find little ways to use my time more efficiently.
            </td>
            <td><input class="p39txtbox" type="text" name="p39txtbox"></td>
        </tr>
  

    </table>

    @Html.ActionLink("Previous Page", "Page38") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page40")
</div>
}
