
@{
    ViewBag.Title = "Page54";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container1">
        <div class="form-horizontal">
            <h1 class="heading">Review Quiz</h1>
            <table>
                <tr>
                    <th style="text-align:left">M1 - VARK, Personality Profiling </th>
                </tr>
                <tr>
                    <td>
                        <div class="form-inline">
                            1. In the study of learning styles, what do the initials VARK stands for? Explain each of them briefly.
                            <br />
                            V&nbsp;
                            <select name="vark1" class="form-control" style="width:200px;">
                                <option value=""> </option>
                                <option value="Visual">Visual</option>
                                <option value="Auditory">Auditory</option>
                                <option value="Reading/Writing">Reading/Writing</option>
                                <option value="Kinesthetic">Kinesthetic</option>
                            </select>
                            Explanation: <input name="vark1exp" class="p54txtbox form-control" type="text" style="width:600px;" />
                            <br />
                            A&nbsp;
                            <select name="vark2" class="form-control" style="width:200px;">
                                <option value=""> </option>
                                <option value="Visual">Visual</option>
                                <option value="Auditory">Auditory</option>
                                <option value="Reading/Writing">Reading/Writing</option>
                                <option value="Kinesthetic">Kinesthetic</option>
                            </select>
                            Explanation: <input name="vark2exp" class="p54txtbox form-control" type="text" style="width:600px;" />
                            <br />
                            R&nbsp;
                            <select name="vark3" class="form-control" style="width:200px;">
                                <option value=""> </option>
                                <option value="Visual">Visual</option>
                                <option value="Auditory">Auditory</option>
                                <option value="Reading/Writing">Reading/Writing</option>
                                <option value="Kinesthetic">Kinesthetic</option>
                            </select>
                            Explanation: <input name="vark3exp" class="p54txtbox form-control" type="text" style="width:600px;" />
                            <br />
                            K&nbsp;
                            <select name="vark4" class="form-control" style="width:200px;">
                                <option value=""> </option>
                                <option value="Visual">Visual</option>
                                <option value="Auditory">Auditory</option>
                                <option value="Reading/Writing">Reading/Writing</option>
                                <option value="Kinesthetic">Kinesthetic</option>
                            </select>
                            Explanation: <input name="vark4exp" class="p54txtbox form-control" type="text" style="width:600px;" />
                            </div>

</td>
                </tr>
                <tr>
                    <td>
                        2. A person who is able to cook by listening to the instructions on radio is a ________ learner.
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="varkq1">Visual</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="varkq1">Auditory</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="varkq1">Reading</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="varkq1">Kinesthetic</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        3. A person who learns by watching the teacher demonstrate things first is a _______ learner.
                        <br />
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="varkq2">Visual</label>
                        </div>
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="varkq2">Auditory</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="varkq2">Reading</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="varkq2">Kinesthetic</label>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td>
                        4. Each of the following sentences describes one member in your project group. Identify which Personality Style/Type (Dove, Owl, Peacock, and Eagle) is that member:
                        <table border=1>
                            <tr>
                                <th>Member</th>
                                <th>Description</th>
                                <th>Style</th>
                            </tr>

                            <tr>
                                <td>Jim</td>
                                <td>
                                    Hardworking, doesn’t give up easily, contributes
                                    <br />creative ideas, always asking questions, wants
                                    <br />details, and prefers to work alone.
                                </td>
                                <td>
                                    <select name="dope1" class="form-control" style="width:200px;">
                                        <option value=""> </option>
                                        <option value="Dove">Dove</option>
                                        <option value="Owl">Owl</option>
                                        <option value="Peacock">Peacock</option>
                                        <option value="Eagle">Eagle</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Robert</td>
                                <td>
                                    Good listener, pleasant, dislikes conflict, indecisive,
                                    <br />tries hard to please every member of the group, and
                                    <br />gives in to others easily.
                                </td>
                                <td>
                                    <select name="dope2" class="form-control" style="width:200px;">
                                        <option value=""> </option>
                                        <option value="Dove">Dove</option>
                                        <option value="Owl">Owl</option>
                                        <option value="Peacock">Peacock</option>
                                        <option value="Eagle">Eagle</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Joanna</td>
                                <td>
                                    Likes to take charge, works independently, quick to
                                    <br /> decide, bossy, and does not care too much about
                                    <br /> others feelings, uncooperative at times.
                                </td>
                                <td>
                                    <select name="dope3" class="form-control" style="width:200px;">
                                        <option value=""> </option>
                                        <option value="Dove">Dove</option>
                                        <option value="Owl">Owl</option>
                                        <option value="Peacock">Peacock</option>
                                        <option value="Eagle">Eagle</option>
                                    </select>

                                </td>
                            </tr>

                            <tr>
                                <td>Ling</td>
                                <td>
                                    Spontaneous, persuasive, optimistic, bored with
                                    <br />routine tasks, impulsive, enjoys getting involved.
                                </td>
                                <td>
                                    <select name="dope4" class="form-control" style="width:200px;">
                                        <option value=""> </option>
                                        <option value="Dove">Dove</option>
                                        <option value="Owl">Owl</option>
                                        <option value="Peacock">Peacock</option>
                                        <option value="Eagle">Eagle</option>
                                    </select>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        5. When a member of your group is a Dove, you should:
                        <br />
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="dope5">a) Suggest he/she is right and show appreciation.</label>
                        </div>
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="dope5">b) Be quick-paced and offer spirited explanations.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dope5">c) Give impression that he/she has control of situations.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dope5">d) Give reassurance and create a relaxed and pleasant environment.</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        6. When a member of your group is an Eagle, you should:
                        <br />
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="dope6">a) Provide results in a fast pace manner.</label>
                        </div>
                        <div class="radio dl-horizontal">
                            <label><input type="radio" name="dope6">b) Show commitment to work with them.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dope6">c) Suggest they are right and show appreciation.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="dope6">d) Give personal attention and affirm their position.</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align:left">M2 – Spirit of NZ, NZ My New Home </th>
                </tr>

                <tr>
                    <td>
                        7. What is the population of New Zealand?
                        <br />
                        <input name="population" class="p54txtbox form-control" type="text" style="width:500px;" />
                        <br />
                        8. What is the name of the Dutch explorer that came in 1642?
                        <br />
                        <input name="dutchname" class="p54txtbox form-control" type="text" style="width:500px;" />
                        <br />
                        9. What was the name of Cook’s Ship
                        <br />
                        <input name="shipname" class="p54txtbox form-control" type="text" style="width:500px;" />
                        <br />
                        10. What year was the Treaty of Waitangi signed?
                        <br />
                        <input name="treatyyear" class="p54txtbox form-control" type="text" style="width:500px;" />
                        <br />
                        11. What is a Hangi?
                        <br />
                        <input name="hangi" class="p54txtbox form-control" type="text" style="width:800px;" />
                        <br />
                        12. What is a Hongi?
                        <br />
                        <input name="hongi" class="p54txtbox form-control" type="text" style="width:800px;" />
                        <br />
                        13. Study the following dialogue between James and Philip.
                        <br />James: “I’m planning a party at my bach. The cuzzies will be coming. Would you like to come? Don't forget to pack your togs and sunnies.”
                        <br />Philip: “Sweet-as. I’d love to be there bro. Shall I bring a plate?”
                        <br />In the space provided below, write the meaning of the kiwi slang used:
                        <br />
                        <table id="p54TableSlang">
                            <tr>
                                <td>Bach</td>
                                <td><input name="slang1" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                            <tr>
                                <td>Cuzzies</td>
                                <td><input name="slang2" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                            <tr>
                                <td>Togs</td>
                                <td><input name="slang3" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                            <tr>
                                <td>Sunnies</td>
                                <td><input name="slang4" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                            <tr>
                                <td>Sweet as</td>
                                <td><input name="slang5" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                            <tr>
                                <td>Bring a plate</td>
                                <td><input name="slang6" class="p54txtbox form-control" type="text" style="width:500px;" /></td>
                            </tr>
                        </table>
                    </td>

                <tr>
                    <td>
                        14. Slang should <strong>NEVER</strong> be used during:
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang7">a) Job interviews.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang7">b) Business report writing.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang7">c) Facebook, blogs, personal websites, texting where official and/or formal matters are discussed.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang7">d) All of the above.</label>
                        </div>
                      
                    </td>
                </tr>

                <tr>
                    <td>
                        15. The correct way of maintaining eye contact with a person is to:
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang8">a) Stare hard at the person’s face.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang8">b) Avoid looking into his /her eyes.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang8">c) Look the person from top to toe.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang8">d) Focus on the area between his/her eyes and chin.</label>
                        </div>
                        
                    </td>
                </tr>

                <tr>
                    <td>
                        16. Which of the following is <strong>INCORRECT</strong> when making conversation /’small talk’?
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang9">a) Be mindful of non-verbal communication e.g. tone, posture.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang9">b) Keep to general subjects such as salary, money and prices.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang9">c) Avoid personal and sensitive topics, such as a broken marriage.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang9">d) Avoid ‘threatening type’ or questions with right or wrong answers.</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="text-align:left">
                        M3 (Be Proactive, Begin with the End in Mind) – Seven Habits, Who Moved My Cheese, Personal Leadership
                    </th>
                </tr>

                <tr>
                    <td>
                        17. Taking the initiative, not imposing limits on ourselves and focusing on our Circle of Influence describes the habit of:
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang10">a) Be Proactive.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang10">b) Think Win-Win.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang10">c) Put First Things First.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang10">d) Seek First to Understand, Then To Be Understood.</label>
                        </div>
                       
                    </td>
                </tr>

                <tr>
                    <td>
                        18. Deeply understand through empathic listening and put ourselves in the other party’s shoes describes the habit of:
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang11">a) Synergise.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang11">b) Be Proactive.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang11">c) Think Win-Win.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang11">d) Seek First to Understand, Then to Be Understood.</label>
                        </div>
                       
                    </td>
                </tr>

                <tr>
                    <td>
                        19. Taking care of our physical well-being and keeping our mind sharp by reading and writing describes the habit of:
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang12">a) Synergise.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang12">b) Think Win-Win.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang12">c) Sharpen the Saw.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang12">d) Put First Things First.</label>
                        </div>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        20. In ‘Who Moved My Cheese?’, which of the following statements is <strong>CORRECT</strong>?
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="slang13">a) Moving beyond fear can make you feel free.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang13">b) Able to imagine enjoying new cheese even before finding it can lead you to it.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang13">c) The quicker you let go of the old cheese, the sooner you can find new cheese.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="slang13">d) All of the above.</label>
                        </div>
                       
                    </td>
                </tr>

                <tr>
                    <td>

                        <div class="form-inline">
                            21. In goal setting, what does the acronym SMART stands for:
                            <br />
                            S&nbsp;<input name="smart1" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            M&nbsp;<input name="smart2" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            A&nbsp;<input name="smart3" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            R&nbsp;<input name="smart4" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            T&nbsp;<input name="smart5" class="p54txtbox form-control" type="text" style="width:400px;" />
                            </div>
</td>
                </tr>

                <tr>
                    <th style="text-align:left">M4 (Put First Things First) – Self Management </th>
                </tr>
                <tr>
                    <td>
                        <div class="form-inline">
                            22. The ‘Rock, Pebbles and Sand’ story demonstrates P<input name="self1" class="p54txtbox form-control" type="text" style="width:200px;" /> as a self-management tool/technique.
                            <br />
                            23. The video clip ‘Eat the Frog’ encourages us to do today what needs to be done and not P<input name="self2" class="p54txtbox form-control" type="text" style="width:200px;" />.
                            <br />
                            </div>
</td>
                </tr>


                <tr>
                    <th style="text-align:left">M5 (Think Win Win) – Consensus Building, Work Groups & Team Building</th>
                </tr>

                <tr>
                    <td>
                        24. Which one of the following statements is <strong>TRUE</strong> about consensus building?
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="think1">a) There cannot be any compromising among team members.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think1">b) Support for a decision does not require unconditional support.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think1">c) There must be a unanimous vote and everyone must be 100% satisfied.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think1">d) Consensus is finding an acceptable proposal that all members can support.</label>
                        </div>
                     
                    </td>
                </tr>
                <tr>
                    <td>
                        25. Which one of the following statements is <strong>TRUE</strong> about consensus building?
                        <br />
                        <div class="radio">
                            <label><input type="radio" name="think2">a) Disagreeing is not allowed.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think2">b) Separate the issue from the personalities.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think2">c) It is not necessary for everyone to understand the topic or problem.</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="think2">d) There is no point in contributing ideas and knowledge related to the subject if it is going
                        to lead to disagreement.</label>
                        </div>
                       
                    </td>
                </tr>

                <tr>
                    <td>
                        26. List Tuckman’s four stages of group development?
                        <br />
                        <div class="form-inline">
                            Stage1&nbsp;<input name="stage1" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            Stage2&nbsp;<input name="stage2" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            Stage3&nbsp;<input name="stage3" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                            Stage4&nbsp;<input name="stage4" class="p54txtbox form-control" type="text" style="width:400px;" />
                            <br />
                        </div>
</td>
                </tr>
                <tr>
                    <td>
                        27. Which of the following are characteristics of effective teams
                        <br />I. Open and truthful
                        <br />II. Consensus decisions
                        <br />III. Address conflict
                        <br />IV. Express feeling
                        <br />
                        <input name="r27" type="radio" style="width:30px;" />&nbsp;a) I and II only
                        <br />
                        <input name="r27" type="radio" style="width:30px;" />&nbsp;b) I, II and III only
                        <br />
                        <input name="r27" type="radio" style="width:30px;" />&nbsp;c) I, II and IV only
                        <br />
                        <input name="r27" type="radio" style="width:30px;" />&nbsp;d) All of the above
                        <br />
                    </td>
                </tr>

                <tr>
                    <th style="text-align:left">M6 (Seek First to Understand, Then to be Understood) – Communication Skills</th>
                </tr>
                <tr>

                    <td>
                        28. Which of the following statements about communication is <strong>TRUE</strong>?
                        <br />
                        <input name="r28" type="radio" style="width:30px;" />&nbsp;a) We communicate mainly with words.
                        <br />
                        <input name="r28" type="radio" style="width:30px;" />&nbsp;b) The best communication is a one-way message.
                        <br />
                        <input name="r28" type="radio" style="width:30px;" />&nbsp;c) Non-verbal communication is also referred to as body language.
                        <br />
                        <input name="r28" type="radio" style="width:30px;" />&nbsp;d) None of the above.
                        <br />
                    </td>
                </tr>


                <tr>
                    <td>
                        29. List five types of barriers to communication
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                    </td>
                </tr>

                <tr>
                    <th style="text-align:left">M7 (Synergise) – Problem Solving, Conflict Management</th>
                </tr>
                <tr>
                    <td>
                        30. Which of the following is a rule for brainstorming?
                        <br />
                        <input name="r30" type="radio" style="width:30px;" />&nbsp;a) Let ideas incubate - allow them to ‘hatch’.
                        <br />
                        <input name="r30" type="radio" style="width:30px;" />&nbsp;b) Write down only those ideas that will be used.
                        <br />
                        <input name="r30" type="radio" style="width:30px;" />&nbsp;c) Generate only ideas that are realistic and relevant.
                        <br />
                        <input name="r30" type="radio" style="width:30px;" />&nbsp;d) Those members with no experience are not expected to participate.
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        31. Conditions suitable for a brainstorming session should include:
                        <br />
                        I. A relaxed atmosphere.
                        <br />
                        II. Everyone must come up with realistic ideas only.
                        <br />
                        III. Everyone to participate by taking turns if necessary.
                        <br />
                        IV. Choose a facilitator to scribe, involve and operate rules.
                        <br />
                        <input name="r31" type="radio" style="width:30px;" />&nbsp;a) I and II only
                        <br />
                        <input name="r31" type="radio" style="width:30px;" />&nbsp;b) I, II and IV only.
                        <br />
                        <input name="r31" type="radio" style="width:30px;" />&nbsp;c) I, III and IV only.
                        <br />
                        <input name="r31" type="radio" style="width:30px;" />&nbsp;d) All of the above.
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        32. List five uses of Mind Mapping
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>
                        33. What are the colours of the six (thinking) hats and what do they represent?
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                        &nbsp;<input class="p54txtbox" type="text" style="width:400px;" />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        34. Causes of conflict include:
                        <br />
                        <input name="r34" type="radio" style="width:30px;" />&nbsp;a) Poor communication.
                        <br />
                        <input name="r34" type="radio" style="width:30px;" />&nbsp;b) Personality differences.
                        <br />
                        <input name="r34" type="radio" style="width:30px;" />&nbsp;c) Difference in perceptions.
                        <br />
                        <input name="r34" type="radio" style="width:30px;" />&nbsp;d) All of the above.
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        35. In situations where harmony is extremely important, the issue is not as important to you as it is to the other person, and you are willing to let others learn by mistake, the conflict management style to use is:
                        <br />
                        <input name="r35" type="radio" style="width:30px;" />&nbsp;a) Fox.
                        <br />
                        <input name="r35" type="radio" style="width:30px;" />&nbsp;b) Owl.
                        <br />
                        <input name="r35" type="radio" style="width:30px;" />&nbsp;c) Shark.
                        <br />
                        <input name="r35" type="radio" style="width:30px;" />&nbsp;d) Turtle.
                        <br />
                        <input name="r35" type="radio" style="width:30px;" />&nbsp;e) Teddy Bear.
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        36. In situations where you know you are right and where time is short and a quick decision is needed, the conflict management style to use is:
                        <br />
                        <input name="r36" type="radio" style="width:30px;" />&nbsp;a) Fox.
                        <br />
                        <input name="r36" type="radio" style="width:30px;" />&nbsp;b) Owl.
                        <br />
                        <input name="r36" type="radio" style="width:30px;" />&nbsp;c) Shark.
                        <br />
                        <input name="r36" type="radio" style="width:30px;" />&nbsp;d) Turtle.
                        <br />
                        <input name="r1" type="radio" style="width:30px;" />&nbsp;e) Teddy Bear.
                        <br />

                    </td>
                </tr>
                <tr>
                    <th style="text-align:left">M8 (Sharpen the Saw) – Personal SWOT, FISH! Philosophy</th>
                </tr>

                <tr>
                    <td>
                        37. The outcome you want from a personal SWOT analysis is a list of:
                        <br />I. What opportunities are best for you to pursue.
                        <br />II. What threats you need to eliminate/minimise.
                        <br />III. What strengths you should consider making stronger to further enhance your ability to pursue your goals..
                        <br />IV. What weaknesses you need to improve on, or manage, so that they don’t impede your goal setting.
                        <br />
                        <input name="r37" type="radio" style="width:30px;" />&nbsp;a) I and II only
                        <br />
                        <input name="r37" type="radio" style="width:30px;" />&nbsp;b) III and IV only
                        <br />
                        <input name="r37" type="radio" style="width:30px;" />&nbsp;c) I and III only
                        <br />
                        <input name="r37" type="radio" style="width:30px;" />&nbsp;d) All of the above
                        <br />
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>
                        38. In the FISH! Philosophy, lending a helping hand, giving words of encouragement and offering to listen best describe which of the following concept?
                        <br />
                        <input name="r38" type="radio" style="width:30px;" />&nbsp;a) Play!
                        <br />
                        <input name="r38" type="radio" style="width:30px;" />&nbsp;b) Make Their Day
                        <br />
                        <input name="r38" type="radio" style="width:30px;" />&nbsp;c) Be There/Be Present
                        <br />
                        <input name="r38" type="radio" style="width:30px;" />&nbsp;d) Choose Your Attitude
                        <br />
                    </td>
                </tr>


                <tr>
                    <td>
                        39. In the FISH! Philosophy, being totally focused, listening deeply and showing enthusiasm and dedication describe which of the following concept?
                        <br />
                        <input name="r39" type="radio" style="width:30px;" />&nbsp;a) Play!
                        <br />
                        <input name="r39" type="radio" style="width:30px;" />&nbsp;b) Make Their Day
                        <br />
                        <input name="r39" type="radio" style="width:30px;" />&nbsp;c) Be There/Be Present
                        <br />
                        <input name="r39" type="radio" style="width:30px;" />&nbsp;d) Choose Your Attitude
                        <br />
                    </td>
                </tr>


                <tr>
                    <td>
                        40. Which of the following statements about Choosing Your Attitude is FALSE?
                        <br />
                        <input name="r40" type="radio" style="width:30px;" />&nbsp;a) Choose to look for the best in everything.
                        <br />
                        <input name="r40" type="radio" style="width:30px;" />&nbsp;b) It’s about accepting full responsibility for all of our choices.
                        <br />
                        <input name="r40" type="radio" style="width:30px;" />&nbsp;c) With positive attitude comes potential problems and threats.
                        <br />
                        <input name="r40" type="radio" style="width:30px;" />&nbsp;d) Attitude is a choice you can make, even if you can’t choose the work you do.
                        <br />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page48") |
        @Html.ActionLink("Main", "Index")
    </div>
}




