
@{
    ViewBag.Title = "Page2";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div style="text-align: center;">
            <h1 class="heading">Programme Objectives</h1>

            <ul class="p2objList">
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Promote <strong>academic achievement, pesronal effectiveness</strong> and a <strong>successful transition</strong> into the workplace.</li>
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Raise <strong>student's self awareness.</strong></li>
                <li> <span class="glyphicon glyphicon-ok"></span> &nbsp; Equip students with skills that enable them to be <strong>professional, self-motivated </strong> and <strong>productive</strong> members of the New Zealand workforce.</li>
            </ul>
            <div id="p2dartimg">
                <img src="~/Content/img/dart.png" alt="dart graphic">
            </div>
            <br/>
            <div>
                @Html.ActionLink("Previous Page", "Page1") |
                @Html.ActionLink("Main", "Index") |
                @Html.ActionLink("Next Page", "Page3")
            </div>
        </div>
    </div>
}