
@{
    ViewBag.Title = "Page48";
}
@using (Html.BeginForm())
{

    <div class="container1">
        <h4 style="text-align:center;">The Basic Framework of Stephen Covey’s Seven Habits:</h4>

        <h1 class="heading"><strong><u>The Maturity Continuum</u></strong></h1> <br />

        <p style="text-align:center;">Fill up the diagram below according to Stephen Covey’s explanation of the Maturity Continuum:</p>

        <div id="p48MaturityContainer">
            <img id="p48MaturityImg" src="~/Content/img/MaturityContinuum.png" alt="Maturity Continuum" />
            <p class="p48Int">Int<input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48Habit5">Habit 5:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48Habit6">Habit 6:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48P1">P<input class="p48txtbox" type="text" style="width:155px;" /><br />VICTORY</p>
            <p class="p48Habit4">Habit 4:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48In">In<input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48Habit3">Habit 3:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48P2">P<input class="p48txtbox" type="text" style="width:155px;" /><br />VITORY</p>
            <p class="p48Habit1">Habit 1:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48Habit2">Habit 2:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48De">De<input class="p48txtbox" type="text" style="width:155px;" /></p>
            <p class="p48Habit7">Habit 7:<br /><input class="p48txtbox" type="text" style="width:155px;" /></p>
        </div>
    </div>
}
