
@{
    ViewBag.Title = "Page44";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div>
            <h1 class="heading"><strong><u>Brainstorming</u></strong></h1>

        <p>Group members: <input class="p44txtbox" style="width:850px" type="text" name="members"/></p>
        <p>Uses for: <input class="p44txtbox" style="width:900px" type="text" name="uses" /></p>

            <table>
                <tr>
                    <td>1. <input class="p44txtbox" style="width:440px" type="text" name="uses1" /></td>
                    <td>31. <input class="p44txtbox" style="width:440px" type="text" name="uses31" /></td>
                </tr>
                <tr>
                    <td>2. <input class="p44txtbox" style="width:440px" type="text" name="uses2" /></td>
                    <td>32. <input class="p44txtbox" style="width:440px" type="text" name="uses32" /></td>
                </tr>
                <tr>
                    <td>3. <input class="p44txtbox" style="width:440px" type="text" name="uses3" /></td>
                    <td>33. <input class="p44txtbox" style="width:440px" type="text" name="uses33" /></td>
                </tr>
                <tr>
                    <td>4. <input class="p44txtbox" style="width:440px" type="text" name="uses4" /></td>
                    <td>34. <input class="p44txtbox" style="width:440px" type="text" name="uses34" /></td>
                </tr>
                <tr>
                    <td>5. <input class="p44txtbox" style="width:440px" type="text" name="uses5" /></td>
                    <td>35. <input class="p44txtbox" style="width:440px" type="text" name="uses35" /></td>
                </tr>
                <tr>
                    <td>6. <input class="p44txtbox" style="width:440px" type="text" name="uses6" /></td>
                    <td>36. <input class="p44txtbox" style="width:440px" type="text" name="uses36" /></td>
                </tr>
                <tr>
                    <td>7. <input class="p44txtbox" style="width:440px" type="text" name="uses7" /></td>
                    <td>37. <input class="p44txtbox" style="width:440px" type="text" name="uses37" /></td>
                </tr>
                <tr>
                    <td>8. <input class="p44txtbox" style="width:440px" type="text" name="uses8" /></td>
                    <td>38. <input class="p44txtbox" style="width:440px" type="text" name="uses38" /></td>
                </tr>
                <tr>
                    <td>9. <input class="p44txtbox" style="width:440px" type="text" name="uses9" /></td>
                    <td>39. <input class="p44txtbox" style="width:440px" type="text" name="uses39" /></td>
                </tr>
                <tr>
                    <td>10. <input class="p44txtbox" style="width:440px" type="text" name="uses10" /></td>
                    <td>40. <input class="p44txtbox" style="width:440px" type="text" name="uses40" /></td>
                </tr>
                <tr>
                    <td>11. <input class="p44txtbox" style="width:440px" type="text" name="uses11" /></td>
                    <td>41. <input class="p44txtbox" style="width:440px" type="text" name="uses41" /></td>
                </tr>
                <tr>
                    <td>12. <input class="p44txtbox" style="width:440px" type="text" name="uses12" /></td>
                    <td>42. <input class="p44txtbox" style="width:440px" type="text" name="uses42" /></td>
                </tr>
                <tr>
                    <td>13. <input class="p44txtbox" style="width:440px" type="text" name="uses13" /></td>
                    <td>43. <input class="p44txtbox" style="width:440px" type="text" name="uses43" /></td>
                </tr>
                <tr>
                    <td>14. <input class="p44txtbox" style="width:440px" type="text" name="uses14" /></td>
                    <td>44. <input class="p44txtbox" style="width:440px" type="text" name="uses44" /></td>
                </tr>
                <tr>
                    <td>15. <input class="p44txtbox" style="width:440px" type="text" name="uses15" /></td>
                    <td>45. <input class="p44txtbox" style="width:440px" type="text" name="uses45" /></td>
                <tr>
                    <td>16. <input class="p44txtbox" style="width:440px" type="text" name="uses16" /></td>
                    <td>46. <input class="p44txtbox" style="width:440px" type="text" name="uses46" /></td>
                <tr>
                    <td>17. <input class="p44txtbox" style="width:440px" type="text" name="uses17" /></td>
                    <td>47. <input class="p44txtbox" style="width:440px" type="text" name="uses47" /></td>
                <tr>
                    <td>18. <input class="p44txtbox" style="width:440px" type="text" name="uses18" /></td>
                    <td>48. <input class="p44txtbox" style="width:440px" type="text" name="uses48" /></td>
                </tr>
                <tr>
                    <td>19. <input class="p44txtbox" style="width:440px" type="text" name="uses19" /></td>
                    <td>49. <input class="p44txtbox" style="width:440px" type="text" name="uses49" /></td>
                </tr>
                <tr>
                    <td>20. <input class="p44txtbox" style="width:440px" type="text" name="uses20" /></td>
                    <td>50. <input class="p44txtbox" style="width:440px" type="text" name="uses50" /></td>
                <tr>
                    <td>21. <input class="p44txtbox" style="width:440px" type="text" name="uses21" /></td>
                    <td>51. <input class="p44txtbox" style="width:440px" type="text" name="uses51" /></td>
                </tr>
                <tr>
                    <td>22. <input class="p44txtbox" style="width:440px" type="text" name="uses22" /></td>
                    <td>52. <input class="p44txtbox" style="width:440px" type="text" name="uses52" /></td>
                </tr>
                <tr>
                    <td>23. <input class="p44txtbox" style="width:440px" type="text" name="uses23" /></td>
                    <td>53. <input class="p44txtbox" style="width:440px" type="text" name="uses53" /></td>
                </tr>
                <tr>
                    <td>24. <input class="p44txtbox" style="width:440px" type="text" name="uses24" /></td>
                    <td>54. <input class="p44txtbox" style="width:440px" type="text" name="uses54" /></td>
                </tr>
                <tr>
                    <td>25. <input class="p44txtbox" style="width:440px" type="text" name="uses25" /></td>
                    <td>55. <input class="p44txtbox" style="width:440px" type="text" name="uses55" /></td>
                </tr>
                <tr>
                    <td>26. <input class="p44txtbox" style="width:440px" type="text" name="uses26" /></td>
                    <td>56. <input class="p44txtbox" style="width:440px" type="text" name="uses56" /></td>
                </tr>
                <tr>
                    <td>27. <input class="p44txtbox" style="width:440px" type="text" name="uses27" /></td>
                    <td>57. <input class="p44txtbox" style="width:440px" type="text" name="uses57" /></td>
                </tr>
                <tr>
                    <td>28. <input class="p44txtbox" style="width:440px" type="text" name="uses28" /></td>
                    <td>58. <input class="p44txtbox" style="width:440px" type="text" name="uses58" /></td>
                </tr>
                <tr>
                    <td>29. <input class="p44txtbox" style="width:440px" type="text" name="uses29" /></td>
                    <td>59. <input class="p44txtbox" style="width:440px" type="text" name="uses59" /></td>
                </tr>
                <tr>
                    <td>30. <input class="p44txtbox" style="width:440px" type="text" name="uses30" /></td>
                    <td>60. <input class="p44txtbox" style="width:440px" type="text" name="uses60" /></td>
                </tr>
            </table>
        </div>
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page43") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page45")
    </div>
}