
@{
    ViewBag.Title = "Page6";
}
@using (Html.BeginForm())
{
<div class="container1">
    <h1 class="heading">Course Requirements</h1>

    <ul class="p6List">
        <li> Integral part of your Diploma course in Aspire 2 International; <strong>attendance is compulsory</strong>.</li>
        <li> Completion of class exercises, questionnaires, reflection journals, topical quizzes</li>
        <li> Class participation!!!</li>
    </ul>

    <div id="p6checklistimg">
        <img src="~/Content/img/checklist.png" alt="Checklist graphic">
    </div>
    <br/>
    <div style="text-align:center">
        @Html.ActionLink("Previous Page", "Page5") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page7")
    </div>
</div>
}
