
@{
    ViewBag.Title = "Page29";
}
@{
    ViewBag.Title = "Page31";
}

@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading"><u>New Zealand Slang and Sayings</u></h1>
        <p  style="text-align:center;"> In the blank box, put the number of the description that best matches the slang word or saying:</p>

        <table style="margin:auto;">
            <tr>
                <th>Slang word or saying</th>
                <th></th>
                <th style="background-color:gray;"></th>
                <th style="text-align:center;">No.</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>BACH</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">1</td>
                <td>Scenic route</td>
            </tr>
            <tr>
                <td>BLOKE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">2</td>
                <td>Insulated box used to keep food and drinks cold</td>
            </tr>
            <tr>
                <td>BOY-RACER</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">3</td>
                <td>Rugby</td>
            </tr>
            <tr>
                <td>BRO</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">4</td>
                <td>University</td>
            </tr>
            <tr>
                <td>BRING A PLATE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">5</td>
                <td>Waterproof rubber boots</td>
            </tr>
            <tr>
                <td>BYO (SIGNAGE)</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">6</td>
                <td>Exhausted, tired</td>
            </tr>
            <tr>
                <td>CHEERS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">7</td>
                <td>Food Taken "to go", fast food</td>
            </tr>
            <tr>
                <td>CHILLY BIN</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">8</td>
                <td>A discount for a friend</td>
            </tr>
            <tr>
                <td>CHIPPIES</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">9</td>
                <td>Sunglasses</td>
            </tr>
            <tr>
                <td>CHOICE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">10</td>
                <td>Overseas experience</td>
            </tr>
            <tr>
                <td>CHOCKA</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">11</td>
                <td>Toilet</td>
            </tr>
            <tr>
                <td>CROOK</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">12</td>
                <td>Great, excellent</td>
            </tr>
            <tr>
                <td>CUPPA</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">13</td>
                <td>Present</td>
            </tr>
            <tr>
                <td>CUZZIES</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">14</td>
                <td>Bring a plate of food to share</td>
            </tr>
            <tr>
                <td>DAIRY</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">15</td>
                <td>Steal</td>
            </tr>
            <tr>
                <td>FOOTY</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">16</td>
                <td>Thanks</td>
            </tr>
            <tr>
                <td>GUMBOOTS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">17</td>
                <td>A flightless bird or a person from New Zealand</td>
            </tr>
            <tr>
                <td>HARD CASE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">18</td>
                <td>Someone from Britain</td>
            </tr>
            <tr>
                <td>HEAPS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">19</td>
                <td>Sick</td>
            </tr>
            <tr>
                <td>HOT CHIPS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">20</td>
                <td>Bathing Suit</td>
            </tr>
            <tr>
                <td>KIWI</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">21</td>
                <td>Paying for something on behalf of others (e.g. Round of drinks)</td>
            </tr>
            <tr>
                <td>KNACKERED</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">22</td>
                <td>A basic holiday home, at beach or lake</td>
            </tr>
            <tr>
                <td>LOLLIES</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">23</td>
                <td>Forever, a long time</td>
            </tr>
            <tr>
                <td>LOO</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">24</td>
                <td>Relatives</td>
            </tr>
            <tr>
                <td>MATE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">25</td>
                <td>Often used in the place of "please"</td>
            </tr>
            <tr>
                <td>MATE'S RATES</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">26</td>
                <td>Hiking</td>
            </tr>
            <tr>
                <td>NANA</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">27</td>
                <td>Grandmother</td>
            </tr>
            <tr>
                <td>NICK</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">28</td>
                <td>Potato chips or crisps</td>
            </tr>
            <tr>
                <td>OE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">29</td>
                <td>Utility Vehicle</td>
            </tr>
            <tr>
                <td>POM / POMMIE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">30</td>
                <td>A lot</td>
            </tr>
            <tr>
                <td>PRESSIE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">31</td>
                <td>Brother or good friend</td>
            </tr>
            <tr>
                <td>SHOUT</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">32</td>
                <td>French fries</td>
            </tr>
            <tr>
                <td>STUCK IN</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">33</td>
                <td>Full</td>
            </tr>
            <tr>
                <td>SUNNIES</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">34</td>
                <td>Ketchup</td>
            <tr>
                <td>SWEET /SWEET AS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">35</td>
                <td>Convenience store</td>
            </tr>
            <tr>
                <td>TA</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">36</td>
                <td>Bring your own bottle of wine</td>
            </tr>
            <tr>
                <td>TAKEAWAYS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">37</td>
                <td>Candy or sweets</td>
            </tr>
            <tr>
                <td>THANKS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">38</td>
                <td>In the middle of no-where</td>
            </tr>
            <tr>
                <td>TIKI TOUR</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">39</td>
                <td>To start working on something</td>
            </tr>
            <tr>
                <td>TOGS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">40</td>
                <td>A close friend</td>
            </tr>
            <tr>
                <td>TOMATO SAUCE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">41</td>
                <td>A close friend</td>
            </tr>
            <tr>
                <td>TRAMPING</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">42</td>
                <td>Great, excellent</td>
            </tr>
            <tr>
                <td>UTE</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">43</td>
                <td>Cup of tea / coffee</td>
            </tr>
            <tr>
                <td>UNI</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">44</td>
                <td>Clown, witty person</td>
            </tr>
            <tr>
                <td>WOP WOPS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">45</td>
                <td>Young person in a fast car, typically with stereo on loud</td>
            </tr>
            <tr>
                <td>YONKS</td>
                <td><input class="p29txtbox" type="text" /></td>
                <td style="background-color:gray;"></td>
                <td style="text-align:center;">46</td>
                <td>Often used in a place of "thank you"</td>
            </tr>
        </table>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page28") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page30")
        </div>

    </div>
}
