
@{
    ViewBag.Title = "Page31";
}

@using (Html.BeginForm())
{
    <div class="container1">
        <h1 class="heading"><strong><u>7 Habits of Highly Effective People</u></strong></h1>
        <ol id="p31List">
            <li>Be Proactive</li>
            <li>Begin with the End in Mind</li>
            <li>Put First Things First</li>
            <li>Think Win Win</li>
            <li>Seek First to Understand, Then to be Understood</li>
            <li>Synergise</li>
            <li>Sharpen the Saw</li>
        </ol>
        <div id="p31img">
            <img src="~/Content/img/The_7_Habits_of_Highly_Effective_People.jpg" alt="7 Habits Book Graphic" />
        </div>
        <hr />
        <h1 class="heading"><strong><u>My 14 Habits of a More Effective Me</u></strong></h1>
        <p style="text-align:left;">Explain how you can adopt Stephen Covey’s Seven Habits of Highly Effective People in your life by giving two examples for each habit. Your examples may be based on different settings for example in school, at work, with friends / family members.</p>
        <table id="p31_14HabitTable">
            <tr>
                <td>
                    <strong><u>Be Proactive</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Begin with the End in Mind</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Put First Things First</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Think Win Win</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Seek First to Understand, then to be Understand</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Synergise</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><u>Sharpen the Saw</u></strong>
                    <table>
                        <tr>
                            <td>
                                1)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                                <br />
                                2)
                                <textarea class="p31txtarea" row="5" cols="130"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div style="text-align:center; margin-top: 20px;">
        @Html.ActionLink("Previous Page", "Page30") |
        @Html.ActionLink("Main", "Index") |
        @Html.ActionLink("Next Page", "Page32")
    </div>
}
