
@{
    ViewBag.Title = "Page50";
}
@using (Html.BeginForm())
{

<div class="container1">
    <h4>Video: The Basic Framework of Stephen Covey's Seven Habits:</h4>

    <h1 class="heading"><strong><u>The Maturity Continuum</u></strong></h1> <br />

    <div style="text-align:left">
        <ol>
            <li style="padding:10px;">
                According to Stephen Covey, the three levels of Maturity Continuum are:
                <br />(Fill in the blanks)
                <table border=1>
                    <tr>
                        <td>1. D<input type="text" style="width:100px;" /></td>
                        <td>
                            This mean you need others to get.
                            <br>
                           
                            <select name="maturity1" style="width:300px;">
                                <option value="test"></option>
                                <option value="test">what you want</option>
                                <option value="test">test</option>
                            </select>

                        </td>
                        <td>
                            It is the attitude of
                            <br>
                            <input type="text" style="width:200px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>2. In<input type="text" style="width:100px;" /></td>
                        <td>
                            This mean you get what you want
                            <br>
                            through
                            <select name="maturity1" style="width:300px;">
                                <option value="test"></option>
                                <option value="test">your own effort</option>
                                <option value="test">test</option>
                            </select>
                        </td>
                        <td>
                            It is the attitude of
                            <br>
                            <input type="text" style="width:200px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>3.Inter<input type="text" style="width:100px;" /></td>
                        <td>
                            This mean you get what you want
                            <br>
                            <select name="maturity1" style="width:300px;">
                                <option value="test"></option>
                                <option value="test">get what they want</option>
                                <option value="test">test</option>
                            </select>
                        </td>
                        <td>
                            It is the attitude of
                            <br>
                            <input type="text" style="width:200px;" />
                        </td>
                    </tr>
                </table>
            </li>
            
            <li style="padding:10px;">
                Stephen Covey said:
                <br />
                <br />
                “Until you and I are <input type="text" style="width:200px;" /> we cannot be <input type="text" style="width:200px;" />"
            </li>

            <li style="padding:10px;">
                The Three habits that constitute Private Victory are<br />

                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">be proactive</option>
                    <option value="test">test</option>
                </select>
                <br />
                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">begin with the end in mind</option>
                    <option value="test">test</option>
                </select>
                <br />
                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">put first things first</option>
                    <option value="test">test</option>
                </select>
                <br />

                <p> These habits deal with self-mastery, self-control and self-dominion.</p>
            </li>
 
            <li style="padding:10px;">
                The Three habits that constitute Private Victory are:<br />
                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">test</option>
                    <option value="test">test</option>
                </select>
                <br />
                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">test</option>
                    <option value="test">test</option>
                </select>
                <br />
                <select name="maturity1" style="width:300px;">
                    <option value="test"></option>
                    <option value="test">test</option>
                    <option value="test">test</option>
                </select>
                <br />
            </li>

            <li style="padding:10px;">
                Sharpen the Saw is the habit of r<input type="text" style="width:200px;" /> and continuous improvement. It surrounds and encompasses all the other habits.
            </li>
        </ol>
    </div>

    @Html.ActionLink("Previous Page", "Page49") |
    @Html.ActionLink("Main", "Index") |
    @Html.ActionLink("Next Page", "Page51")
</div>
}