
@{
    ViewBag.Title = "Page25";
}
@using (Html.BeginForm())
{
    <div class="container1">
        <div style="text-align:center;">
            <h1 class="heading">Photo Scavenger Hunt</h1>

            <div id="p25img1">
                <img src="~/Content/img/scavenger.png" alt="Scavenger Graphic" />
            </div>
            <p id="p25groupMission"><strong><u>Your Group Mission:</u></strong></p>

            <p id="p25instruction">
                Get a photo with the given list of objects/landmarks/people. Except for the person taking the photo, all team members must be in the photo.  Try and make your photos as interesting as possible. Use your imagination!!  NO Internet allowed.
                <br />
                <br />
                The first team to return with the most points wins.
            </p>

            <div id="p25img2">
                <img src="~/Content/img/ScavengerHunt.jpg" alt="Scavenger List Graphic" />
            </div>
        </div>

        <div style="text-align:center; margin-top: 20px;">
            @Html.ActionLink("Previous Page", "Page24") |
            @Html.ActionLink("Main", "Index") |
            @Html.ActionLink("Next Page", "Page26")
        </div>
    </div>

}